<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demo</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Welcome to static demo File</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur laborum illum voluptas similique, error reprehenderit, inventore non fugit adipisci ratione amet dolorem voluptates voluptatibus nostrum veritatis nulla iste, quos distinctio.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas ipsam nihil fugit enim ex, ipsa, aspernatur ab quidem quo perspiciatis quae sapiente repudiandae. Delectus nam voluptatibus vero voluptate minus dolor!</p>

</body>
</html>